/* Add CSS Styling */
p {
    background-color: #ffc0cb;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#first-id {
    color: #0000ff;
    font-size: 36px;
}

.cooler {
    font-size: 24px;
}

#second-id {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}